@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: black;
    width: 100%;
    margin: 0px;
    background-image: url(background001.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-attachment: fixed;
    background-position: center right;
    
  
}


 header{
    margin-top: -30px;
    background-color: black;
    min-height: 150px;
    color: white;
    text-align: center;
 }
 header>h1{
    padding-top: 50px;
    
 }

 article.um{
    margin-top: -20px;
    background-color: white;
    min-height: 300px;
   
 }
 p{
    margin-left: 20px;
   padding-top: 50px;
   padding-bottom: 50px;
   line-height: 50px;
  font-size: 20px;
   font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-variation-settings:
      "BNCE" 0,
      "INFM" 0,
      "SPAC" 0
  }
  
  
 
  footer{
    margin-top: -20px;
    background-color: black;
    color: white;
    padding: 5px;
  }

  