@charset "UTF-8";

body{
    font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(185, 255, 232);
 }

#principal{
           text-align: center;
           background-color: rgb(109, 255, 255);
           
          }









